.container{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-style: italic;
   text-align: center;
   padding: 20px;

}
.result{
    text-align: center;
    width:auto;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 100px;
    border: 2px solid blue;
    border-radius: 25px;
    padding: 10px;
}   
